/*============  GOOGLE FONTS  =============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

/*============  VARIABLES CSS  =============*/
:root {
	/*============  Colores  =============*/
	--color-error: #bb2929;
	--color-correcto: #1ed12d;
	--color-focus: #e53f82;
	--main-50: #e53f82;
	--main-300: #e53f82;
	--main-400: #DE1E6B;
	--color-parrafo: #000000;
	--color-link: #e53f82;
	--fondo-form: rgba(255, 255, 255, 1);
	--color-mensaje: #ffffff;

	/*============  Fuentes y Tipografías  =============*/
	--body-font: "Manrope", sans-serif;
	--encabezado-font: "Inter", sans-serif;
	--small-font: 0.75rem;
	--normal-font: 1rem;
	--encabezado-font: 1.5rem;
	--responsive-parrafo: .9rem;
	--responsive-p-error: .8rem;
}

/*============  BASE  =============*/
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
	font-size: var(--normal-font);
}

h1 {
	margin: 0;
	font-family: var(--encabezado-font);
	margin-bottom: 2.5rem;
	color: var(--color-parrafo);
}

.header{
	position: relative;
}

/*=============================================
=                   FORMUALRIO                   =
=============================================*/

.formulario__container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../IMG/arcos.jepg.jpeg);
}

.formulario {
	max-width: 90%;
	margin: 40px auto;
	padding: 3.5rem 2.5rem;
	background: var(--fondo-form);
	border-radius: 2rem;
	position: static;
}

.grupo__parrafo{
	margin-top: 3rem;
}

.formulario__parrafo {
	text-align: left;
	font-size: var(--normal-font);
	color: var(--color-parrafo);
	padding-bottom: .6rem;
}

/**
*
* Estilos para terminos
*
*/

.formulario__link {
	text-decoration: none;
	color: var(--color-link);
	font-weight: bold;
}

.formulario__link:hover {
	text-decoration: underline;
}

.formulario__grupo{
	margin-bottom: 3rem;
}

.formulario__grupo-input{
	position: relative;
}

.formulario__input {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: none;
	border: 2px solid var(--main-300);
	border-radius: 0.5rem;
	line-height: 45px;
	transition: 0.3s ease all;
	outline: none;
	padding: 1.3rem;
	z-index: 1;
	position: absolute;
}

.formulario__label {
	font-weight: 700;
	color: var(--color-focus);
	position: relative;
	top: .8rem;
	left: 1rem;
	background-color: var(--color-mensaje);
	transition: .3s;
}

.formulario__input-error {
	font-size: 0.8rem;
	padding: 0 10px;
	margin-top: 2.3rem;
	margin-bottom: -1.3rem;
	display: none;
}

.formulario__input-error-activo {
	display: flex;
	color: var(--color-parrafo);
}

.formulario__mensaje-error {
	height: 45px;
	line-height: 45px;
	justify-content: center;
	padding: 0 .9rem;
	background: var(--color-error);
	border-radius: 3px;
	display: none;
	align-items: center;
	color: var(--color-mensaje);
	margin-top: 1rem;
}

.formulario__mensaje-exito {
	height: 45px;
	line-height: 45px;
	background: var(--color-correcto);
	justify-content: center;
	border-radius: 3px;
	display: none;
	align-items: center;
	font-family: var(--body-font);
	color: var(--color-mensaje);
	margin-top: 1rem;
	padding: 0 3.5rem;
}

.formulario__mensaje-error-activo {
	display: block;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	border: none;
	cursor: pointer;
	transition: 0.1s ease all;
	width: 70%;
	border-radius: 7px;	margin-top: 2rem;
	color: var(--color-mensaje);
	background: var(--main-400);
	font-weight: bolder;
	font-size: var(--normal-font);
	margin-top: -.5rem;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.1);
	transform: scale(1.05);
}

/* Ver contraseña */
#toggle,
#toggle1 {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(20%);
	z-index: 10;
	cursor: pointer;
	font-size: 20px;
	color: var(--color-parrafo);
}

/* Input focus move up label */
.formulario__input:focus + .formulario__label{
	top: -.5rem;
	left: .8rem;
	font-size: var(--small-font);
	font-weight: 500;
	z-index: 10;
	padding: 0 5px;
}

/* input focus sticky top label */
.formulario__input:not(:placeholder-shown).formulario__input:not(:focus) + .formulario__label{
	top: -.5rem;
	font-size: var(--small-font);
	font-weight: 500;
	z-index: 10;
	padding: 0 5px;
}

/* input focus */
.formulario__input:focus {
	border: 2px solid var(--color-focus);
	outline: none;
}


/*============  VALIDACIONES  =============*/
.formulario__grupo-correcto {
	color: var(--color-correcto);
	opacity: 1;
}

.formulario__grupo-correcto .formulario__label {
	color: var(--color-correcto);
}

.formulario__grupo-correcto .formulario__input {
	border: 2px solid var(--color-correcto);
}

.formulario__grupo-incorrecto .formulario__label {
	color: var(--color-error);
}

.formulario__grupo-incorrecto {
	color: var(--color-error);
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 2px solid var(--color-error);
}

/*============  End of FORMUALRIO  =============*/


/*============  MEDIA QUERIES  =============*/

@media screen and (max-width: 550px) {
	.formulario__container{
		background-image: url(../IMG/arcoiris.jepg.jpeg)
	}
	
	.formulario {
		max-width: 80%;
		margin: 40px auto;
		padding: 3.5rem 2.5rem;
		background: var(--fondo-form);
		border-radius: 2rem;
		border-radius: 1rem;
	}

	.formulario__parrafo{
		font-size: var(--responsive-parrafo);
		justify-content: left;
	}

	.formulario__input-error{
		font-size: var(--responsive-p-error);
		justify-content: left;
	}

	.formulario__mensaje-error {
		height: 50px;
		padding: .5rem 1rem;
		text-align: center;
		font-size: var(--responsive-parrafo);
	}
	
	.formulario__mensaje-exito {
		height: 50px;
		margin-top: 1rem;
		padding-top: .5rem;
		font-size: var(--responsive-parrafo);
		text-align: center;
	}
}
